        @font-face {
            font-family: SUT_Regular;
            src: url(/public/SUT-Fonts/SUT_Regular_ver_1.00.ttf);
        }

        @font-face {
            font-family: SUT_Bold;
            src: url(/public/SUT-Fonts/SUT_Bold_ver_1.00.ttf);
        }

        body {
            font-family: SUT_Bold;
            /* margin: 0; */
            color: aliceblue;
        }

        * {

            font-family: SUT_Regular;
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-family: SUT_Regular;
            letter-spacing: 1px;
            margin-top: 0;
            margin-bottom: 0;
        }

        .row1 {
            display: flex;
            margin-top: 0;
            margin-left: 0;
            /* float: left; */
            /* padding: 10px; */
        }

        /* .menu li {
    font-size: 16px;
    padding: 15px 5px;
    white-space: nowrap;
}

.items {
    width: 100%;
    text-align: center;
    order: 3;
    display: none;
} */

        /* ul#menu li {
    display: inline;

} */
        /* ***Desktop*** */
        @media all and (min-width: 600px) {
            ul.menu {
                list-style-type: none;
                display: flex;
            }
            ul {
                padding-right: 0;
                float: right;
            }
        .button a {
            padding: 7px 15px;
            border-radius: 7px;
        }
        }

        /* ***tablet*** */
        @media all and (max-width: 600px) {
            ul {
                padding-left: 0;
            }
            .items a:hover {
                background-color: #ff5722;
            }
            .button a {
                padding: 15px 100px;
            }
        }

        .menu li {
            display: flex;
        }

        /* .menu li.button {
    padding-right: 0;
} */
        .menu li {
            padding: 10px;
        }

        .items a:hover {
            background-color: #ff5722;

        }


        nav {
            height: auto;
            background-color: #837a7a;
            /* 837a7a */
        }

        .items.button a {
            text-decoration: none;
            /* width: 100px; */
            margin: auto;

        }


        section {
            width: 100%;
            /*   height: 50vh; */
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
        }

        section.intro_header {
            max-width: 500%;
            text-align: center;
        }

        .container {
            height: 200px;

            position: relative;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }