#search {
    width: 50%;
    padding: 17px 10px;
    background-color: #fff;
    transition: transform 250ms ease-in-out;
    font-size: 20px;
    line-height: 18px;
    border-radius: 50px;
    border: 1px solid #E6581D;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.graphBox {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 30px;
    min-height: 200px;
}

.graphBox .box {
    position: relative;
    background: #fff;
    padding: 20px;
    width: 100%;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
}

.BoxTable {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: 2fr;
    grid-gap: 30px;
    min-height: 200px;
}

.BoxTable .boxt {
    position: relative;
    background: #fff;
    padding: 20px;
    width: 100%;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
}

@media(max-width: 991px) {
    .graphBox {
        grid-template-columns: 1fr;
        height: auto;
    }
}

#checkbox_1 {
    accent-color: #E6581D;
}

input.larger {
    width: 20px;
    height: 20px;
}


#text {

    color: #E6581D;
    border-style: solid;
    border-color: #E6581D;
    border-width: 3px;
    padding: 10px 10px;
    background-color: #fff;
    border-radius: 5px;
    float: right;
    margin-right: 50px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 10px;
}

#text2 {
    color: #fff;
    border-style: solid;
    border-color: #E6581D;
    border-width: 3px;
    padding: 10px 10px;
    background-color: #E6581D;
    border-radius: 5px;
    float: right;
    margin-right: 50px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 10px;
}

@media print {
    #hid {
        display: none;
        /*
         ซ่อน  */
    }
    #hid1 {
        display: none;
        /* ซ่อน  */
    }
    #txt_keyword {
        display: none;
        /* ซ่อน  */
    }
    #txt_keyword1 {
        display: none;
        /* ซ่อน  */
    }
    #text {
        display: none;
        /* ซ่อน  */
    }
    #img {
        width: 1500px;
    }
    #p {
        font-size: 24px;
    }
    #p1 {
        font-size: 24px;

    }

    #data {
        font-size: 18px;
    }
}